<div  class="homebody">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-6">
          <div class="signupform">
            <form #form="ngForm" (ngSubmit)="form.valid&&password.value===confpass.value&&signup()">
              <h3 class="text-center mb-5">Sign Up</h3>
              <div class="mb-3">
                <label class="form-label">Username</label>
                <input  class="form-control" required #username="ngModel" name="username" [(ngModel)]="user.username">
                <small class="text-danger" *ngIf="form.submitted&&username.errors?.['required']">*Username required</small>
              </div>
  
              <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input  class="form-control" required #email="ngModel" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="user.email" >
                  <small class="text-danger" *ngIf="form.submitted&&email.errors?.['required']">*Email required</small>
                  <small class="text-danger" *ngIf="form.submitted&&email.errors?.['pattern']">*Enter valid email address</small>

                </div>
  
                <div class="mb-3">
                  <label type="number" class="form-label">Phone Number</label>
                  <input  class="form-control" type="number" pattern="^[0-9]{10}$" maxlength="10" required #phonenumber="ngModel" name="phonenumber" [(ngModel)]="user.phonenumber">
                  <small class="text-danger" *ngIf="form.submitted&&phonenumber.errors?.['required']">*Phone Number required</small>
                  <small class="text-danger" *ngIf="form.submitted&&phonenumber.errors?.['pattern']">*Invalid Phone Number</small>
                  <small class="text-danger" *ngIf="form.submitted&&phonenumber.errors?.['maxlength']">*Phone number must be 10 digit</small>

                </div>
  
              <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control"  minlength="8" required #password="ngModel" name="password" [(ngModel)]="user.password">
                <small class="text-danger" *ngIf="form.submitted&&password.errors?.['required']">*Password required</small>
                <small class="text-danger" *ngIf="form.submitted&&password.errors?.['minlength']">*Password must be 8 characters</small>

              </div>
  
              <div class="mb-3">
                  <label class="form-label">Confirm Password</label>
                  <input type="password" required #confpass="ngModel"  name="confpass" [(ngModel)]="user.confpass" class="form-control" >
                  <small class="text-danger" *ngIf="form.submitted&&confpass.errors?.['required']">*Confirm Password</small>
                  <small class="text-danger" *ngIf="confpass.touched&&confpass.value!==password.value">Password Mismatch</small>
                </div>
    
              <div class="text-center mt-5">
                 <button type="submit" class="btn btn-primary">SignUp</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>