.bookinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 550px;
  background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnJlZSUyMGxpYnJhcnl8ZW58MHx8MHx8&w=1000&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.itemview{
    border: 2px solid wheat;
    background-color: rgba(245, 222, 179, 0.945);
    width: 80%;
    padding: 40px;
    margin-top: 5vh;
    margin-bottom: 10vh;
    border-radius: 40px;
}
.imageadj{
    border-radius: 50%;
    height: 250px;
    width:250px
}