<div class="bookinfo">
    
  <div class="itemview">
    <div>
        <div class="text-center">
            <img src="{{books.imageurl}}" class="imageadj" alt="">
        </div>
        <div>
            <h2 style="font-family: 'Prompt', sans-serif;" class="text-center mt-4">{{books.bookname}}</h2>
            <h5 style="font-family: 'NTR', sans-serif;font-family: 'NTR', sans-serif;" class="text-center mt-2">Author: {{books.author}}</h5>
        </div>
        <div class="d-flex justify-content-between mt-5">
            <div class="px-4"><em><strong>Edition:</strong> {{books.edition}}</em></div>
            <div style="font-family: 'Comic Neue', cursive;" class="pe-5"><strong>Rating:  {{books.rating}}/5</strong></div>
        </div>

        <div class="mt-4 p-4">
            {{books.description}}
        </div>

        <div class="text-center mt-5" style="color: blue;">
            <i routerLink="" class="fa-solid fa-house fa-lg"></i>
        </div>
    </div>
    


</div>

</div>