<div  class="homebody">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col col-md-12">
              <div class="tableitem">
                <table class="table table-success table-hover table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Code</th>
                      <th scope="col">Book Name</th>
                      <th scope="col">Author</th>
                      <th class="invisible22" scope="col">Edition</th>
                      <th scope="col">Rating</th>
                      <th scope="col">Image</th>
                      <th *ngIf="user.logedIn()" scope="col">Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let i of books">
                      <td scope="row">{{i.code}}</td>
                      <td>{{i.bookname}}</td>
                      <td>{{i.author}}</td>
                      <td class="invisible22">{{i.edition}}</td>
                      <td>{{i.rating}}</td>
                      <td>
                          <img src="{{i.imageurl}}" style="width: 50px; height: 50px;" alt="">
                      </td>
                      <td *ngIf="user.logedIn()">
                          <div class="mt-2">
                          <i (click)="update(i)" class="color1 fa-solid fa-file-pen mx-2 fa-lg"></i>
                          <i (click)="deletedata(i)" class="color2 fa-solid fa-trash-can fa-lg"></i>
                          </div>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>