<nav class="navbar navbar-expand-lg navbar-dark background sticky-top" style="font-size: 16px;">
    <div class="container-fluid">
      <a style="font-family: 'Arvo', serif;" class="navbar-brand mx-5" routerLink="">Library App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" *ngIf="user.logedIn()" aria-current="page" routerLink="">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" *ngIf="user.logedIn()" aria-current="page" routerLink="books">Books</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" *ngIf="user.logedIn()" aria-current="page" routerLink="addbook">Add Book</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-4 search" *ngIf="user.logedIn()" type="search" placeholder="Search" aria-label="Search">
        </form>

        <ul class="navbar-nav mb-2 mb-lg-0">

             <li class="nav-item">
              <button type="button" class="me-3 btn-danger btn" *ngIf="!user.logedIn()" routerLink="login">Login</button>
              </li>

              <li class="nav-item">
                <button type="button" class="me-4 btn-danger btn" *ngIf="!user.logedIn()" routerLink="signup">SignUp</button>
              </li>

              <li class="nav-item">
                <button type="button" class="me-4 btn-danger btn" *ngIf="user.logedIn()" (click)="logout()">Log Out</button>
              </li>
        </ul>
      </div>
    </div>
  </nav>