<div class="footerbody">
    <div>

        <div style="font-family: 'Chakra Petch', sans-serif;" class="text-center word22 pt-3"><h4>Connect Us</h4></div>
        <div class="social">
            <ul class="no-list">
                <a  routerLink="">
                    <li class="facebook"><i class="fab fa-facebook-f"></i></li>
                </a>
                <a routerLink="">
                    <li class="twitter"><i class="fab fa-twitter"></i></li>
                </a>
                <a routerLink="">
                    <li class="pinterest"><i class="fab fa-pinterest"></i></li>
                </a>
                <a  routerLink="">
                    <li class="google-plus"><i class="fab fa-google-plus-g"></i></li>
                </a>
                <a  routerLink="">
                    <li class="instagram"><i class="fab fa-instagram"></i></li>
                </a>
                <a routerLink="">
                    <li class="youtube"><i class="fab fa-youtube"></i></li>
                </a>
              </ul>
        </div>


        <div class="subscribelist mt-5 mb-5">
            <div>
              <h5 style="font-family: 'Chakra Petch', sans-serif;" class="text-white text-center mt-3">Subscribe to our Newsletters</h5>
              <form role="search" class="search-form form">
                  <label>
                      <span style="font-family: 'Chakra Petch', sans-serif;" class="screen-reader-text">Search for...</span>
                      <input type="search" class="search-field" placeholder="Your Email...."/>
                  </label>
                  <input type="submit" value="Subscribe" class="search-submit button"/>
              </form>
            </div>
          </div>

        <div style="font-family: 'Bai Jamjuree', sans-serif;" class="text-white text-center mt-4">
            <div style="font-size: 15px; font-family: 'Chakra Petch', sans-serif;">Copyright © 2022 <a style="text-decoration:none ; cursor: pointer;">LibraryApp</a></div>
            <div class="span2 mb-2">
                Made with <i class="fa fa-heart pulse"></i> in India
            </div>
         </div>    
    </div>
</div>
